<form name="newsletterForm">
    <input type="hidden" name="formID" value="4CA9AFB5-C3D1-4DB7-90BA-650E3D62009C">
    <div class="form-group d-flex justify-content-center">
      <input type="email" class="form-control" name="emailAddress" placeholder="Email Contact" aria-label="Enter Your Email Contact" required>
      <button type="submit">sign up</button>
    </div>
    <div class="form-group form-check">
      <label class="cstm-checkbox">
        <input type="checkbox" name="q4_iAgree[]" value="YES" aria-label="I agree to the Terms of Use & Accessibility Statement" required>
        <span class="checkmark"></span>
        <span class="text">I agree to the <a href="/privacy/">Privacy Policy</a> & <a href="/accessibility/">Accessibility Statement</a></span>
      </label>
    </div>
</form>
